version: "3.3"
services:
  puppet:
    image: puppet/puppet-agent:6.0.4
    entrypoint: "/data/wandenberg-nexus3_rest/docker/run-puppet.sh"
    command: [ "sleep", "36000"]
    depends_on:
      - nexus
    links:
      - nexus
    volumes:
       - ../:/data/wandenberg-nexus3_rest
  nexus:
    image: nexus3_rest:3.40.1
    ports:
      - "8081:8081"
    volumes:
      - ../:/nexus3_rest
